# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Package initialization files
__init__.py

# Environment and IDE files
.env
.venv
env/
venv/
ENV/
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log